body {
  display:flex;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

.credit {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;
}

.logo-column {
  background-size: cover;
  background-position-x: center;
  background-image: url(./marek-piwnicki-unsplash.jpg);
  width: 30vw;
  flex: 1 1 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  padding: 3px;
}

.form-column {
  background-color: mediumblue;
  width: 70vw;
  flex: 1 1 auto;
  height: 100vh;
}