@font-face {
  font-family: apache;
  src: url(./aldo_the_apache/AldotheApache.ttf);
}

body {
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
}

.credit {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;
}

.logo-column {
  z-index: 1;
  background-size: cover;
  background-position-x: center;
  background-image: url(./marek-piwnicki-unsplash.jpg);
  width: 30vw;
  flex: 1 1 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  padding: 3px;
  position:relative;
}

.form-column {
  z-index: 2;
  background-color: #eee;
  width: 70vw;
  flex: 1 1 auto;
  height: 100vh;
}

.logo-wrap {
  position: absolute;
  right:0;
  top:100px;
  background-color: rgba(20, 20, 20, 0.2);
  width: 327px;
  height: 95px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo {
  height: 250px;
  width: auto;
  opacity: 100%;
}

.etos {
  font-family: apache, sans-serif;
  font-size: 120px;
  color: white;
}

.text {
  font-family:monospace;
  font-size: 24px;
  width: 50%;
  margin: 10% 0 0 50px;
  font-weight: 700;
}

.form-box {
  height: 200px;
  width: inherit;
  position: relative;
  top: 3%;
  background-color: white;
  box-shadow: 2px 4px 10px #ccc;
  padding: 20px 50px;
}

.form-box p {
  font-family:monospace;
  font-size: 24px;
  font-weight: 700;
  color: #444;
}